
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/travelLayout.cshtml";
}

<section class="about">
    <div class="d-lg-flex">
        <div class="col-lg-6 banner-about">
            <h3 class="title-wthree mb-4">
                <span class="mb-1">About Us</span>We Are A Travel Agency
            </h3>
            <h6>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem
                aperiam, eaque ipsa quae ab illo inventore
            </h6>
            <p class="my-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                incididunt ut.
            </p>
            <p>
                elit sedc labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud
                exercitation
                ullamco. Sed semper
                leo metus, a lacinia eros semper atdfdf.
            </p>
            <div class="button-w3ls mt-xl-5 mt-4">
                <a href="about.html" class="btn animated-button">Read More</a>
            </div>
        </div>
        <div class="col-lg-6 p-lg-0 text-lg-right text-center">
            <img src="~/web/images/ab.jpg" class="img-fluid" alt="">
        </div>
    </div>
</section>

