
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/travelLayout.cshtml";
}

<section class="blog_w3ls py-5" id="blog">
    <div class="container py-xl-5 py-lg-3 pt-lg-0 pt-sm-5 pt-4">
        <h3 class="tittle text-center text-bl mb-sm-5 mb-4">Recent Blog</h3>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 13, 2019 - loremipsum</span>
                        <a href="#" class="blog-title">Dictum porta auris magna umgtdd fos</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 14, 2019 - pharetra</span>
                        <a href="#" class="blog-title">Quis autem vel eum iure reprehdd ende</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mx-lg-0 mx-md-auto mt-lg-0 mt-3">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog6.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 15, 2019 - portaout</span>
                        <a href="#" class="blog-title">Suscipit labo iosam nisi ut aliquid</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
        <div class="row mt-4">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 16, 2019 - loremipsum</span>
                        <a href="#" class="blog-title">Dictum porta auris magna umgtdd fos</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 17, 2019 - pharetra</span>
                        <a href="#" class="blog-title">Quis autem vel eum iure reprehdd ende</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mx-lg-0 mx-md-auto mt-lg-0 mt-3">
                <div class="med-blog">
                    <div class="blog-header">
                        <a href="#">
                            <img class="img-fluid" src="~/web/images/blog2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="blog-body py-4">
                        <span>April 18, 2019 - portaout</span>
                        <a href="#" class="blog-title">Suscipit labo iosam nisi ut aliquid</a>
                        <p>
                            Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                            se.
                        </p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>

