
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/travelLayout.cshtml";
}
<div id="homepage-slider" class="st-slider">
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
    <div class="images">
        <div class="images-inner">
            <div class="image-slide">
                <div class="banner-w3ls-1">
                    <div class="container">
                        <div class="slider-text-w3ls">
                            <h3 class="banner-wthree-text">
                                <span class="fa fa-dot-circle-o"></span>Your Journey
                                Starts Here
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-2">
                                <span class="fa fa-dot-circle-o"></span>Explore and
                                Travel
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-3">
                                <span class="fa fa-dot-circle-o"></span>Your Best Trip
                            </h3>
                            <!-- search -->
                            <div class="search-w3layouts text-right">
                                <p class="text-wh">
                                    You know where you want to go.<br> Now find the best way to
                                    get there and enjoy
                                    it.
                                </p>
                                <form action="#" method="post" class="search-bottom-wthree d-flex mt-3">
                                    <input class="search" type="search" placeholder="Quick Search" required="">
                                    <button class="btn" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </form>
                            </div>
                            <!-- //search -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-slide">
                <div class="banner-w3ls-2">
                    <div class="container">
                        <div class="slider-text-w3ls">
                            <h3 class="banner-wthree-text">
                                <span class="fa fa-dot-circle-o"></span>Your Journey
                                Starts Here
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-2">
                                <span class="fa fa-dot-circle-o"></span>Explore and
                                Travel
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-3">
                                <span class="fa fa-dot-circle-o"></span>Your Best Trip
                            </h3>
                            <!-- search -->
                            <div class="search-w3layouts text-right">
                                <p class="text-wh">
                                    You know where you want to go.<br> Now find the best way to
                                    get there and enjoy
                                    it.
                                </p>
                                <form action="#" method="post" class="search-bottom-wthree d-flex mt-3">
                                    <input class="search" type="search" placeholder="Quick Search" required="">
                                    <button class="btn" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </form>
                            </div>
                            <!-- //search -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-slide">
                <div class="banner-w3ls-3">
                    <div class="container">
                        <div class="slider-text-w3ls">
                            <h3 class="banner-wthree-text">
                                <span class="fa fa-dot-circle-o"></span>Your Journey
                                Starts Here
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-2">
                                <span class="fa fa-dot-circle-o"></span>Explore and
                                Travel
                            </h3>
                            <h3 class="banner-wthree-text banner-wthree-text-3">
                                <span class="fa fa-dot-circle-o"></span>Your Best Trip
                            </h3>
                            <!-- search -->
                            <div class="search-w3layouts text-right">
                                <p class="text-wh">
                                    You know where you want to go.<br> Now find the best way to
                                    get there and enjoy
                                    it.
                                </p>
                                <form action="#" method="post" class="search-bottom-wthree d-flex mt-3">
                                    <input class="search" type="search" placeholder="Quick Search" required="">
                                    <button class="btn" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </form>
                            </div>
                            <!-- //search -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="labels">
        <div class="fake-radio">
            <label for="slide1" class="radio-btn"></label>
            <label for="slide2" class="radio-btn"></label>
            <label for="slide3" class="radio-btn"></label>
        </div>
    </div>
    </div>

