
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/travelLayout.cshtml";
}

<div class="team text-center py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-bl mt-4 mb-5">Our Agents</h3>
        <div class="row team-bottom">
            <div class="col-lg-3 col-sm-6 team-grid">
                <img src="~/web/images/t1.jpg" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Mack Joe</h4>
                    </div>
                    <ul>
                        <li class="f1">
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="f2">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="f3">
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-5">
                <img src="~/web/images/t3.jpg" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Cruz Deo</h4>
                    </div>
                    <ul>
                        <li class="f1">
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="f2">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="f3">
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
                <img src="~/web/images/t2.jpg" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Rochy Jae</h4>
                    </div>
                    <ul>
                        <li class="f1">
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="f2">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="f3">
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-grid mt-5">
                <img src="~/web/images/t4.jpg" class="img-fluid" alt="">
                <div class="caption">
                    <div class="team-text">
                        <h4>Rojo Poy</h4>
                    </div>
                    <ul>
                        <li class="f1">
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="f2">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="f3">
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

